#root {
  max-width: 100vw;
  margin: auto;
}

/* Estilo para o modo claro (padrão) */
body {
  background-image: url('../public/imagens/bg-light1.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
  transition: background-image 1.5s ease; /* Adiciona uma transição suave */
}

/* Estilo para o modo escuro */
html.dark body {
  background-image: url('../public/imagens/bg-dark.webp');
}
