@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


#root {
  max-width: 100vw;
  min-height: 100vh; 
  margin: auto;
}

.burger-title {
  /* Altera a cor do título do Hamburgueria Online */
 color: #7B68EE ;
  font-family: merryweather, serif;
  background: linear-gradient(to right, #f0e68c, #ffd700);
  border-radius: 2.2%;
  
}

.hotdog-title {
 color: #7B68EE ;
  font-family: merryweather, serif;
  background: linear-gradient(to right, #f0e68c, #ffd700);
  border-radius: 2.2%;
  
}

.automacoes-title {
 color: #7B68EE ;
  font-family: merryweather, serif;
  background: linear-gradient(to right, #f0e68c, #ffd700);
  border-radius: 2.2%;
 
  
}

/* --- Estilos para as Descrições --- */
.burger-description,
.hotdog-description,
.automacoes-description {
  color: #ffffff; 
  text-shadow: 
    2px 2px 4px #000000, /* Sombra principal preta */
    -2px -2px 4px #000000, /* Sombra superior esquerda preta */
    2px -2px 4px #000000, /* Sombra superior direita preta */
    -2px 2px 4px #000000; /* Sombra inferior esquerda preta */

  font-size: 1.8rem;
}
