#root {
  max-width: 100vw;
  min-height: 100vh; 
  margin: auto;
}

.burger-title,
.hotdog-title,
.automacoes-title {
  /* Novo: Cor do título em Azul Escuro para Alto Contraste */
  color: #1E3A8A; 
  font-family: sans-serif;
  background: linear-gradient(to right, #E0F7FA, #B3E5FC);
  border-radius: 1.8%;
  text-shadow: 2px 2px 4px #ccc7c7, -2px -2px 4px #ccc7c7, 2px -2px 4px #cccc7c, -2px 2px 4px #575555;
}

/* --- Estilos para as Descrições --- */
.burger-description,
.hotdog-description,
.automacoes-description {
  color: #ffffff; 
  text-shadow: 
    2px 2px 4px #000000, /* Sombra principal preta */
    -2px -2px 4px #000000, /* Sombra superior esquerda preta */
    2px -2px 4px #000000, /* Sombra superior direita preta */
    -2px 2px 4px #000000; /* Sombra inferior esquerda preta */
  font-size: 1.8rem;
}
