@font-face {
  font-family: 'Chonburi';
  src: url('./assets/fonts/Chonburi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Domine';
  src: url('/assets/fonts/Domine-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

#root {
  max-width: 100vw;
  min-height: 100vh;
  margin: auto;
}
